



html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
box-sizing: inherit;
}

body {
/* min-width: 1110px; */
font-family: "Roboto", sans-serif;
color: #E5E5E5;
font-size: 14px;
line-height: 21px;
overflow-x: hidden
}
li{
  list-style-type: none;
}
img {
display: block;
max-width: 100%;
height: auto;
}


// 2 style

.page-header {
  margin: 0 auto;
  padding: 0;
  height: 400px;
  text-align: center;
}

.page-nav {

  height: 100px;
}
#menu-2{
  display: none;
}
#menu-social-2{
  display: none;
}
#lang-en-2{
  display: none;
}

#menuToggle
{
  height: auto;
  display: block;
  position: relative;
  top: 4px;
  left: 16px;
  padding: 0;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
 
  text-decoration: none;
  color: #232323;
  line-height: 27px;
  transition: color 0.3s ease;
}

#menuToggle .site::after{
  position: absolute;
  left: 100px;
  width: 100px;
  display: block;
  content: '';
  height: 1px;
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

#menuToggle .site:hover::after
{
  // width: 50px;
  // color: tomato;
  transform: scaleX(1);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
   opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#toggle{
  display: none;
}
#menu
{
  position: absolute;
  width: 300px;
  height: 294px;
  margin: -100px 0 0 -70px;
  padding: 0px;
  padding-top: 125px;
  
  background: #E5E5E5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  color: #181819;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
// #menu li{
// float: left;

//   background: url(..//images/icon-png/Oval\ Copy\ 4.svg) 7px center no-repeat;
//   font-family: Arial, sans-serif;
//   font-size: 10px;
//   list-style: none;
// }
// крапочка 


#menu-social{
  display: flex;

  width: 300px;
  height: 40px;
  margin: 192px 0 0 -70px;
  padding: 0px;
  padding-left: 90px;
  background: #E5E5E5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
transform-origin: 0% 0%;
transform: translate(-100%, 0);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
fill: #393C49;

}


.icon-social a {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}

.icon-social svg {
  
  display: block;
  width: 20px;
  height: 20px;
  transition: fill 0,2s linear;
}
.icon-social a:hover svg{
  fill: #9094A6;
}






#lang-en {
  display: flex;
  position: absolute;
  width: 300px;
  height: 47px;
  margin: -2px 0 0 -70px;
  padding: 0px;
  padding-left: 100px;
  color: #9999A0;
  float: right;
  background: #E5E5E5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#lang-en li{
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
letter-spacing: 1px;
text-transform: uppercase;

}


.site-lang::before{
  width: 3px;
  height: 3px;
}
.site-lang::before {
  content: "";
  display: table;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #181819;
  display: none;
  transform: translateX(10px);
  transition: transform 200ms ease-in-out;
}
.site-lang:hover::before{
  display: block;

  }


a #lang-en:hover,
a #lang-en:focus {
  cursor: pointer;

}
#menu-item, #menu-social-item, #lang-en-item{
  display: none;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


.site-logo{
  width: 100px;
  height: 30px;

}


 .site-logo  svg{
  position: absolute;
  top: -6px;
  left: 210px;
  display: block;
  width: 80px;
  height: 50px;
  transition: fill 0,2s linear;
  fill: #393C49;
}

//  .site-logo:hover svg,
.site-logo:focus svg{

cursor: pointer;
}
.site-logo:hover svg{
  fill: #9094A6;
}



.site-navigation {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #181819;
  
}









.baner{
  // margin-top: 180px;
  position: absolute; 
  top: 187px; 
  left: 0; 
  width: 100%; 
  // height: 100%; 
  overflow: hidden;
   z-index: -1;
}


#video{
  display: block; 
  width: 100%; 
  height: auto;
  background: url(../images/icon-secion/bg_photo.png);
  background-repeat: no-repeat; 
  object-fit: contain;
  background-size: cover;

}


.play {
  position: absolute;
  top: 100px;
  left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
 background-image: url(../images/icon/pley-icon.svg);
fill: #FFFFFF;
 background-repeat: no-repeat;
 cursor: pointer;
}

.play svg{
  fill: #df0d0d;
  display: block;
  width: 30px;
  height: 30px;
  // background-image: url(../images/icon/pley-icon.svg);
  // background-repeat: no-repeat;
}


.pause {

  position: absolute;
  top: 200px;
  left: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  // background-color: #2853be;
  background: url(..//images/icon/pause-icon.svg);
background-repeat: no-repeat;

}

.pause svg{
  // display: none;
  fill: #0a0ada;
  display: block;
  width: 30px;
  height: 30px;

}







// @media (min-width: 576px) {
//   .site-navigation {
//     display: flex;
//   }
  
// }


/* SECTION */
.main{
  height: 2050px;
}
.features {
  height: auto;
  
}
.features_title::before, .features_title::after{
  width: 4px;
  height: 4px;
}
.features_title::before {
  content: "";
  display: table;
  position: absolute;
  top: 45%;
  left: 5px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #181819;
}
.features_title::after{
  content: "";
  display: table;
  position: absolute;
  top: 45%;
  left: 288px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #181819;
}
.features_title {

  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #181819;
 
}
.features-list{

  height: auto;
}


.overlay{
  position: absolute;
  top: 0;
  left: 14px;
  width: 124px;
  height: 98px;
  background-color: rgba(24, 24, 25, 0.2);
  display: none;
}
.features-list-item:hover .overlay{
  display: block;
}



.features-p:hover
{
 cursor: pointer;
// border-bottom: 1px solid #000;
}

.features-p{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #181819;
}

.features-list [class*="col-"]:not(:last-child) {
  margin-bottom: 20px;
}


// Section #2
.features-item{
  height: 1000px;
}

.features_titles {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  
  color: #181819;


 
}

.features-text {
  position: absolute;
  // width: 300px;
  // height: 299px;
  // left: 308px;
  top: 150px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  /* or 153% */
  
  
  color: #181819;
}


.button{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 950px;



}
.button-item{
  background-color: #fff;
  display: block;
  position: absolute;
  left: 50%;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px dashed #181819;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif; 
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #181819;
  cursor: pointer;
}
.border-item:hover{
  border-bottom: 1px solid #000;
}

// @media (max-width:320px) {
//   .features-item{
//     height: 940px;
  
//   }
//   .button {
// position: absolute;
// top: 900px;
// }
// }

// @media (min-width:320px)  {
//   .features-item{
//     height: 940px;
  
//   }

// }
// @media (min-width:768px)  {
//   .features-item{
//     height: 550px;
//   }


// }

// @media (min-width:1024px) {
//   .features-item {
// margin: 0;
//   }
// }

// @media (min-width:768px) and (max-width:1024px) {
//   .features-list  [class*="col-"]:nth-child(-n+2) {
//     margin-bottom: 30px;
//   }
// }











.footer-bar{
  margin: 0;

  // margin-top: 20px;

height: 100px;
background: #24262D;
background-size: contain;
}

.margin{
  margin-bottom: 10px;
}
.icon-socials{
  display: flex;

  width: 300px;
  height: 40px;
  margin: 10px 0 0 200px;
  padding: 0px;
  padding-left: 90px;
  // background: #E5E5E5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.icon-socials a {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}

.icon-socials svg {
  fill: #949597;
  display: inline;
  width: 20px;
  height: 20px;
  transition: fill 0,2s linear;
}
.icon-socials a:hover svg{
  fill: #9094A6;
}


.footer-img{
  display: flex;

  width: 20px;
  height: 20px;
  margin: -38px 0 0 280px;
  padding: 0px;
  // padding-left: 90px;
  // background: #E5E5E5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.footer-img svg{
  width: 20px;
  height: 20px;
}

.footer-p{
  margin: 0;

position: absolute;
width: 300px;
height: 16px;
font-family:'Roboto', sans-serif; 
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
left: 10px;
top: 5px;
text-align: center;
color: #C9CBD0;
}
.footer-p::before, .features-p::after{
  width: 4px;
  height: 4px;
}
.footer-p::before {
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 34px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #949597;
}
.footer-p::after{
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 260px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #949597;
}




// .border:hover
// {
 

// border-bottom: 1px solid #c9cbd0;


// }



// @media (min-width:768px) {
//   .footer-p{
//     position: absolute;
//     top: 10px;
//     left: 220px;
//   }
// }
// @media (min-width:1200px) and (max-width:1400px){
//   .footer-p{
//     position: absolute;
//     top: 10px;
//     left: 420px;
//   }
// }



// .footer-p p{
//   margin-left: auto;
//   margin-right: auto;
//   width: 6em
// }
// .footer-img{


//   position: absolute;
//   width: 17.66px;
//   height: 17.66px;
//   left: 280px;
//   top: 15px;
  
//   background: #949597;


// }









// 3 variant


// #navebar-menu{
  //   padding: 0;
  //   margin: 0;
  //   float: left;
  // margin-top: 250px;
  // margin-left: 100px;
  // }
  // .ul2{
  //   // display: none;
  // }
  // .navebar-menu1 li{
  //   display: block;
  //   position: relative;
  // }
  // .burger{
  // float: left;
  // // display: none;
  // background: url(..//images/Menu_icon.svg) no-repeat left;
  // background-size: contain;
  // }
  // .menu{
  //   display: grid;
  //   grid-template-columns: 1fr 14fr;
  // }
  // @media (max-width:768px){
  //   #navebar-menu{
  //     display: none;
  //   }
  // }
  
  




// 2variant

// .burger{
//   // width: 180px;
//   // height: 120px;
//   cursor: pointer;
//   background: url(..//images/Menu_icon.svg) no-repeat center;
//   background-size: contain;
//   transition: .3c all linear;
// }
// .burger_active{
//   background: url(..//images/Close_icon.svg) no-repeat center;
//   background-size: contain;
// }























// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #2f2f37;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #ff6b0a;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // ❗️❗️❗️ The path to images from a SASS file
//   // is always the same as from the css folder.
//   background-image: url('../images/logo.png');
//   background-size: cover;
//   background-position: center;
// }
