@media (min-width: 480px)  {
  .container{
    max-width: 480px;
  }

  .page-header {
height: 400px;
  }
  .site-logo svg{
    position: absolute;
    top: -6px;
    left: 350px;
 
  }
  #menuToggle{
    height: 312px;
  }
  #menu
  {
   
    width: 400px;
    height: 300px;

  }  


  #menuToggle .site::after{
    position: absolute;
    left: 150px;
    width: 100px;
  }

  #menu-social{
    width: 400px;
    height: 50px;
    margin: 204px 0 0 -70px;
    padding: 0 0 0 140px;


  }
  // .icon-social svg{
  //   transform: translateX(50px);
  // }
  #lang-en {
    width: 400px;
    height: 50px;
    margin: -1px 0 0 -70px;
    padding: 0 0 0 150px;
  }
  
  .video-container {
    display: block;
    width: 100%;
    position: absolute;
    top: 158px;
    cursor: pointer;
  }
  

  .video-controls {
 
    position: absolute;
    left: 90%;
    top: 84%;
  
  }
.main{
  height: auto;
}
  features-list [class*="col-"]:not(:last-child) {
    margin-bottom: 30px;
  }

  .features-item{
    height: 600px;
  }
  
  .features_title{
    font-size: 24px;
display: flex;
justify-content: center;
align-items: center;
    // transform: translateX(80px);
  }
  .features_title::before {
    position: absolute;
    left: 110px;
  }
  .features_title::after {
    position: absolute;
    left: 350px;
  }
  .overlay{
    width: 203px;
    height: 162px;
  }
  
  .features_titles {
  
    font-size: 24px;
   
  }



.features-p{

  font-size: 16px;
  line-height: 15px;
 
  }
  .features-text {
    position: absolute;
    top: 100px;}
    .button{
      position: absolute;
      top: 500px;
    }
    .button-item{
      font-size: 10px;
    
    }
    .footer-img{
 
      margin: -38px 0 0 440px;
    }
      .footer-p{
      position: absolute;
      left: 100px;
      top: -5px;
    
      }

}
@media  (min-width: 576px){
  .container{
    max-width: 576px;
  }

  .site-logo svg{
    position: absolute;
    top: -6px;
    left: 430px;
 
  }

  #menuToggle{
    height: 316px;
  }
  #menuToggle {
    position: relative;
    top: -4px;
    left: 15px;
   
  }
  
 
  .video-container {
    display: block;
    width: 100%;
    position: absolute;
    top: 108px;
    cursor: pointer;
  }
  

  .video-controls {
 
    position: absolute;
    left: 90%;
    top: 84%;
  
  }

    .overlay{
      width: 250px;
      height: 200px;
    }
    

    .features_title{
      display: flex;
      justify-content: center;
      align-items: center;
          // transform: translateX(80px);
        }
        .features_title::before {
          position: absolute;
          left: 165px;
        }
        .features_title::after {
          position: absolute;
          left: 390px;
        }

    .features-item{
      height: 500px;
    }
    .features_titles {
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
  
    }

    .button{
      position: absolute;
      top: 400px; 
    
    }

    .footer-img{
 
      margin: -38px 0 0 540px;
    }
      .footer-p{
      position: absolute;
      left: 100px;
      top: 5px;
      left: 150px;
    
      }

}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
      }
      .page-header {
        height: 470px;
      }
    
      .site-logo  svg{

        position: absolute;
        top: -10px;
        left: 250px;
     width: 140px;
     height: 50px;
      }
    


      #menuToggle{
        width: 350px;
        height: auto;
      }
     
     
      #menuToggle {
        position: relative;
        top: 25px;
        left: 25px;
       
      }

    


      #menu
      {
      
        width: 350px;
        height: 448px;
        margin: -100px 0 0 -70px;
        line-height: 50px;
      
      }
#menu-social{

  width: 350px;
  height: 40px;
  margin: 350px 0 0 -70px;
padding-left: 110px;

}



  #menuToggle .site::after{
    position: absolute;
    left: 120px;
    width: 100px;
  }

 
  .icon-social a {
    width: 40px;
    height: 40px;
   
  }
  .icon-social svg {
    width: 20px;
    height: 20px;
   
  }

  #lang-en {
    padding: 0;
    width: 180px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: 540px;
    background: none;
    // margin: -1px 0 0 -10px;
    // padding: 0 0 0 170px;

    // transform-origin: 0% 0%;
    transform: translate(0, 0);
    
    // transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    
  }
 
  #lang-en li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    line-height: 13px;
  }

  .site-lang::before {
    transform: translateX(16px);
    transition: transform 200ms ease-in-out;
  }
  .site-navigation {
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
  }

  .video-container {
    display: block;
    width: 100%;
    position: absolute;
    top: 138px;
    cursor: pointer;
  }
  

  .video-controls {
 
    position: absolute;
    left: 90%;
    top: 84%;
  
  }

    
    .features_title{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
 
        }
        .features_title::before {
          position: absolute;
          left: 210px;
        }
        .features_title::after {
          position: absolute;
          left: 470px;
        }

        .overlay{
          width: 313px;
          height: 250px;
        }



    .main{
      height:2200px ;
    }
.features-item{
height: 500px;
}

.features_titles {
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;

}
.features-text{
  height: auto;
  font-size: 14px;
  padding-top: 20px;
  
}
.button{
  position: absolute;
  top: 450px; 

}

.footer-bar{
  margin: 0;

  // margin-top: 100px;

height: 100px;
background: #24262D;
background-size: contain;
}


.icon-socials{

  margin: 25px 0 0 200px;
  padding: 0px;
  padding-left: 90px;
}
.footer-img{
 
  margin: -40px 0 0 630px;
}
  .footer-p{
  position: absolute;
  left: 100px;
  top: -30px;
  left: 200px;

  }



}





@media (min-width: 992px) {


  .container {
    max-width: 990px;
  }
.page-header  {
  height: 600px;
}

.site-logo svg {
  position: absolute;
  top: -10px;
  left: 350px;
width: 140px;
height: 50px;
}




#menuToggle  {
  position: relative;
  top: 25px;
  left: 14px;
 
}
#menu
{

  width: 350px;
  height: 520px;
  margin: -100px 0 0 -28px;

}


#menuToggle .site::after{
  position: absolute;
  left: 120px;
  width: 100px;
}
#lang-en {
  padding: 0;
  width: 180px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: 800px;
  background: none;
  transform: translate(0, 0);
}
#menu-social{
  width: 350px;
  height: 70px;
  margin: 420px 0 0 -28px;
  padding: 0 0 0 110px;


}


.site-navigation {
  font-weight: 400;
  font-size: 18px;
  line-height: 60px;
}


.video-container {
  display: block;
  width: 100%;
  position: absolute;
  top: 138px;
  cursor: pointer;
}


.video-controls {

  position: absolute;
  left: 94%;
  top: 90%;

}



.overlay{
  width: 295px;
  height: 236px;
}

.play {
  position: absolute;
  top: 400px;
  left: 840px;}

  
  .features_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
      }
      .features_title::before {
        position: absolute;
        left: 340px;
      }
      .features_title::after {
        position: absolute;
        left: 630px;
      }
  .features-p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #181819;
    }
    .main{
      height:1600px ;
    }
    .features_titles {
  width: 600px;
  height: 100px;
  position: absolute;
  left: 160px;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
    
    
    }


    .features-text {
      margin: 0;
      margin-bottom: 20px;
      position: absolute;
      width: 800px;
      height: 299px;
      left: 100px;
      top: 150px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      /* or 153% */
      
      
      color: #181819;
    }
    
    .button{
      position: absolute;
      top: 470px; 
    
    }
    .button-item{
   font-size: 16px;
  line-height: 17px;
    }
    .footer-bar{
      margin: 0;
    height: 100px;
    background: #24262D;
    background-size: contain;
    }
    
    
    .icon-socials{
    
      margin: 25px 0 0 200px;
      padding: 0px;
      padding-left: 90px;
    }
    .footer-img{
     
      margin: -40px 0 0 950px;
    }
      .footer-p{
      position: absolute;
      left: 100px;
      top: -30px;
      left: 360px;
    font-size: 12px;
      }
    

      .footer-p::before {
        content: "";
        display: table;
        position: absolute;
        top: 45%;
        left: 30px;
        width: 5px;
        height: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #949597;
      }
      .footer-p::after{
        content: "";
        display: table;
        position: absolute;
        top: 45%;
        left: 260px;
        width: 5px;
        height: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #949597;
      }
      

}



@media (min-width: 1200px) {


  .container {
    max-width: 1170px;
  }
.page-header  {
  height: 700px;
}

.site-logo svg{
  position: absolute;
  top: -10px;
  left: 450px;
width: 140px;
height: 60px;
}




#menuToggle {
  position: relative;
  top: 25px;
  left: 25px;
 
}
#menu
{

  width: 350px;
  height: 540px;
  margin: -100px 0 0 -40px;

}


#menuToggle .site::after{
  position: absolute;
  left: 120px;
  width: 100px;
}
#lang-en {
  padding: 0;
  width: 180px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: 990px;
  background: none;
  transform: translate(0, 0);
}
#menu-social{
  width: 350px;
  height: 142px;
  margin: 440px 0 0 -40px;
  padding: 0 0 0 90px;


}
#menu-social  a{
  width: 50px;
  height: 50px;
}
#menu-social svg{
  width: 30px;
  height: 30px;
}
.main{
  height: auto ;
}
  .features_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
      }
      .features_title::before {
        position: absolute;
        left: 400px;
      }
      .features_title::after {
        position: absolute;
        left: 740px;
      }
  .features-p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #181819;
    }
    .features-item{
      height: 600px;
    }
    .features_titles {
  width: 600px;
  height: 100px;
  position: absolute;
  left: 280px;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
    
    
    }


    .features-text {
      margin: 0;
      margin-bottom: 20px;
      position: absolute;
      width: 800px;
      height: 299px;
      left: 200px;
      top: 150px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      /* or 153% */
      
      
      color: #181819;
    }
    
    .button{
      position: absolute;
      top: 510px; 
    
    }

    .footer-bar{
      margin: 0;
    height: 100px;
    background: #24262D;
    background-size: contain;
    }
    
    
    .icon-socials{
    
      margin: 25px 0 0 200px;
      padding: 0px;
      padding-left: 90px;
    }
    .footer-img{
     
      margin: -40px 0 0 1130px;
    }
      .footer-p{
      position: absolute;
      left: 100px;
      top: -30px;
      left: 460px;
    font-size: 14px;
      }
    



}

@media (min-width: 1400px) {


  .container {
    min-width: 1400px;
    height: auto;
  }
.page-header  {
  height: 850px;
// margin-bottom: 50px;
}
.page-nav {

  height: 150px;
}

.site-logo svg {
  position: absolute;
  top: -20px;
  left: 550px;
width: 0px;
height: 100px;
}

.site-logo svg{
  width: 150px;
  height: 80px;
}
#menuToggle {
  display: none;
}
#menu-2{
  display: block;
}
#menu-social-2{
  display: block;
}
#lang-en-2{
  display: block;
}
#menu-2 {
  width: 1380px;
  height: 50px;
  position: absolute;
  top: 80px;
 
}
#menu-2 ul
{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;

}
#menu-2 a
{
 
  text-decoration: none;
  color: #232323;
  line-height: 27px;
  transition: color 0.3s ease;
}



#menu-2 .sit:hover
{
border-bottom: 1px solid #000;
  // transform: scaleX(1);
}


#menu-2 .li-1::after{
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 170px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #181819;
}


#menu-2 .li-2::after{
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 410px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #181819;
}
#menu-2 .li-3::after{
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 690px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #181819;
}


#menu-2 .li-4::after{
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 930px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #181819;
}

#menu-2 .li-5::after{
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 1220px;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #181819;
  margin-right: 0;
}




#menu-social-2{
  padding: 0;
  width: 180px;
  height: 40px;
  position: absolute;
  top: -80px;
  left: 10px;
  background: none;
  transform: translate(0, 0);
  fill: #181819;

}


.icon-social a {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

}

.icon-social svg {
  
  display: block;
  width: 20px;
  height: 20px;
  transition: fill 0,2s linear;
}
.icon-social a:hover svg{
  fill: #9094A6;
}






#lang-en-2{ 
  padding: 0;
  width: 180px;
  height: 40px;
  position: absolute;
  top: -80px;
  left: 1190px;
  background: none;
  transform: translate(0, 0);
  
 font-size: 18px;
}
#lang-en-2 li{
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
letter-spacing: 1px;
text-transform: uppercase;

}


.site-lang::before{
  width: 3px;
  height: 3px;
}
.site-lang::before {
  content: "";
  display: table;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #181819;
  display: none;
  transform: translateX(10px);
  transition: transform 200ms ease-in-out;
}
.site-lang:hover::before{
  display: block;

  }


a #lang-en-2:hover,
a #lang-en-2:focus {
  cursor: pointer;

}
.baner{
position: absolute;
top: 160px;

// left: 130px;

}
#video{
  display: block; 
  width: 100%; 
  height: auto;
  background: url(../images/icon-secion/bg_photo.png);
  background-repeat: no-repeat; 
  object-fit: contain;
  background-size: cover;

}

.play {
  position: absolute;
  top: 500px;
  left: 1250px;

}
.play:hover{
  cursor: pointer;
}
  .features_title{
    display: flex;
    justify-content: center;
    align-items: center;
      margin-top: 200px;
      }
      .features_title::before {
        position: absolute;
        left: 530px;
        top: 250px;
      }
      .features_title::after {
        position: absolute;
        left: 850px;
        top: 250px;
      }
  .border-list{
    width: 100%;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 14px;
    width: 431px;
    height: 345px;
    background-color: rgba(24, 24, 25, 0.2);
    display: none;
  }
  .features-p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #181819;
    }
    .main{
      height:2200px ;
    
    }
    .features_titles {
  width: 700px;
  height: 100px;
  position: absolute;
  left: 350px;

      font-weight: 400;
      font-size: 36px;
      line-height: 50px;
    
    
    }


    .features-text {
      margin: 0;
      margin-bottom: 20px;
      position: absolute;
      width: 800px;
      height: 299px;
      left: 300px;
      top: 150px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      /* or 153% */
      
      
      color: #181819;
    }
    
    .button{
      position: absolute;
      top: 470px; 
    
    }

    .footer-bar{
      margin: 0;
    height: 100px;
    background: #24262D;
    background-size: contain;
    }
    
    
    .icon-socials{
    
      margin: 25px 0 0 200px;
      padding: 0px;
      padding-left: 90px;
    }
    .footer-img{
     
      margin: -40px 0 0 1380px;
    }
      .footer-p{
      position: absolute;
      left: 100px;
      top: -30px;
      left: 550px;
    font-size: 14px;
      }
    



}