
<header class="page-header  ">
  <nav class="page-nav">
    <div class="container">
      <div class="row flex-md-row-reverse flex-xl-row-reverse  justify-content-md-between justify-content-xl-between  ">
        <div class="col-12 col-md-12 clo-lg-12 col-xl-12 site-logo ">

          <svg class="site-logo">
            <use href="images/icon/logo.svg#icon-We-ART">

            </use>
          </svg>

        </div>
        <div class="col-12 col-md-12 col-lg-12" id="menuToggle">
          
          <input type="checkbox" />
 
          <span></span>
          <span></span>
          <span></span>
          <ul class="site-navigation " id="menu">
            <li class="li-1">
              <a  class="site" href="#">О студии</a>
            </li>
            <li  class="li-2">
              <a class="site" href="#">Портфолио</a>
            </li>
            <li  class="li-3">
              <a  class="site" href="#">Этапы работы</a>
            </li>
            <li  class="li-4">
              <a  class="site" href="#">Стоимость</a>
            </li>
            <li  class="li-5">
              <a class="site" href="#">Эко-материалы</a>
            </li>
            <li  class="li-6">
              <a class="site" href="#">Контакты</a>
            </li>
          </ul>
          <ul class="site-navigation icon-social" id="menu-social">
            <li >
<a> <svg>
  <use href="images/icon/symbol-defs.svg#icon-facebook-11"></use>
</svg> </a>
            </li>
            <li>

              <a> <svg>
                <use href="images/icon/symbol-defs.svg#icon-instagram-8"></use>
              </svg> </a>
            </li>
            <li>

              <a> <svg>
                <use href="images/icon/sprite-social.svg#icon-pinterest"></use>
              </svg> </a>
            </li>
          </ul>
          <ul class="site-navigation " id="lang-en">
            <li >
              <a  class="site-lang" href="#">Eng</a>
            </li>
            <li>
              <a class="site-lang" href="#">Pol</a>
            </li>
            <li>
              <a class="site-lang" href="#">Рус</a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-4 col-lg-3 col-xl-12" id="menu-2" >
          
   
          <ul class="site-navigation " id="menu-1400">
            <li class="li-1">
              <a  class="sit" href="#">О студии</a>
            </li>
            <li  class="li-2">
              <a class="sit" href="#">Портфолио</a>
            </li>
            <li  class="li-3">
              <a  class="sit" href="#">Этапы работы</a>
            </li>
            <li  class="li-4">
              <a  class="sit" href="#">Стоимость</a>
            </li>
            <li  class="li-5">
              <a class="sit" href="#">Эко-материалы</a>
            </li>
            <li  class="li-6">
              <a class="sit" href="#">Контакты</a>
            </li>
          </ul>
          <ul class="site-navigation icon-social" id="menu-social-2">
            <li >
      <a> <svg>
      <use href="images/icon/symbol-defs.svg#icon-facebook-11"></use>
      </svg> </a>
            </li>
            <li>
      
              <a> <svg>
                <use href="images/icon/symbol-defs.svg#icon-instagram-8"></use>
              </svg> </a>
            </li>
            <li>
      
              <a> <svg>
                <use href="images/icon/sprite-social.svg#icon-pinterest"></use>
              </svg> </a>
            </li>
          </ul>
          <ul class="site-navigation " id="lang-en-2">
            <li >
              <a  class="site-lang" href="#">Eng</a>
            </li>
            <li>
              <a class="site-lang" href="#">Pol</a>
            </li>
            <li>
              <a class="site-lang" href="#">Рус</a>
            </li>
          </ul>
        </div>
     


    </div>

        </div>

  </nav>

  <div class="col-12 col-md-12 col-lg-12 col-xl-12 baner" >
    <!-- <div class="row">
    <div class="col-12"> -->

      <a id="playBtn" onclick="toggle()" class="play">
    
      </a>
      
      <video id="video" >
        <!-- <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>  -->
      </video>
      

</div>
</header>
<!-- </div>
</div>
</div> -->
<main class="main">
  <section  class="features ">
    <div class="container">
      <div class="row">
        <div class="col-12 ">
          <!-- <ul class="button-left">
            <li>
              <a>
                <svg>
                  <use href="images/icon/sprite.svg#icon-p"></use>
                </svg>

              </a>
            </li>
          </ul>
          <ul class="button-richt ">
            <li>
              <a>
                <svg>
                  <use href="images/icon/sprite.svg#icon-p"></use>
                </svg>

              </a>
            </li>
          </ul> -->
          <h2 class="features_title">
            Новые проекты 
          </h2>
        </div>
      </div>
    </div>

    <div class="features-list ">
      <div class="container">
        <div class="row justify-content-md-between features-list ">
              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
srcset="images/icon-secion/Bitmap.png 189W images/icon-secion/Bitmap@2X.png 377W"
sizes="189px"
                      src="images/icon-secion/Bitmap.png"
                      alt=" Bradley Hunter "
                      height="224"
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Котедж Первый парковый
                  </p>
                </div>
              </div>




              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
                      src="images/icon-secion/Bitmap Copy.png"
                      alt=" Bradley Hunter "
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Квартира ЖК Риверстоун
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
                      src="images/icon-secion/Bitmap Copy 2.png"
                      alt=" Bradley Hunter "
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Дом Грузевица-3
                  </p>
                </div>
              </div>




              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
                      src="images/icon-secion/Bitmap Copy 5.png"
                      alt=" Bradley Hunter "
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Дом по улице Летняя
                  </p>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
                      src="images/icon-secion/Bitmap Copy 4.png"
                      alt=" Bradley Hunter "
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Магазин Аристократ
                  </p>
                </div>
              </div>




              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
                      src="images/icon-secion/Bitmap Copy 3.png"
                      alt=" Bradley Hunter "
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Магазин SEW TECH
                  </p>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
                      src="images/icon-secion/Bitmap Copy 8.png"
                      alt=" Bradley Hunter "
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Апартаменты
                  </p>
                </div>
              </div>




              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
                      src="images/icon-secion/Bitmap Copy 7.png"
                      alt=" Bradley Hunter "
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Бутик Mix
                  </p>
                </div>
              </div>



              <div class="col-6 col-md-6 col-lg-4 col-xl-4" >
                <div class=" features-list-item  ">
                  <div class="border-list ">
                    <img
                      class="border-list"
                      src="images/icon-secion/Bitmap Copy 6.png"
                      alt=" Bradley Hunter "
                    />
                    <div class="overlay"></div>
                  </div>

                 
                  <p class="features-p">
                    Загородный дом
                  </p>
                </div>
              </div>

         

            


      </div>


</div>
    </div>
  </section>
<section class="features-item">
  <div class="container">
<div class="row justify-content-md-between features-list">



  <div class="col-12 ">


    <h2 class="features_titles">Заказать дизайн интерьера в Хмельницком для своего дома!</h2>

    <p class="features-text">Дом для каждого из нас – это место, где мы чувствуем уют и покой, обретаем душевное равновесие, куда мы все спешим после тяжелого рабочего дня, и где хотим спрятаться от городской суматохи. И, конечно, у каждого есть дом мечты, который, наверное, был придуман и визуализирован еще в детстве или же, наоборот, есть мечта, но нет четкого представления как он будет выглядеть. Команда We-ART с радостью поможет Вам выполнить абсолютно любой дизайн интерьера Хмельницкий. 

      За время работы команда дизайн студии интерьера в Хмельницком We-ART накопила достаточно знаний и навыков, чтобы удовлетворить вкусы любого клиента, а также выполнила десятки проектов, в том числе и для представителей своей сферы. Каждый клиент уникален, и каждый ставит свои приоритеты – для кого-то это время, для кого-то цена. Для команды We-ART в приоритете же качество выполнения задач и пожелания клиента, поэтому про нашу компанию за все время работы отзывались только с хорошей стороны.</p>

      <div class="col-12 button">
        <button class="button-item border-item">
          Читать больше
        </button>
      </div>

  </div>
 
</div>


  </div>

  

</section>



</main>


<footer class="footer-bar">
<div class="container">
  <div class="row flex-md-row-reverse justify-content-md-between ">
    <div class="col-12 margin">
<ul class="icon-socials">
  <li>
  <a>
    <svg>
      <use href="images/icon/symbol-defs.svg#icon-facebook-11"></use>
    </svg>
  </a>
</li>
  <li>
  <a>
    <svg>
      <use href="images/icon/symbol-defs.svg#icon-instagram-8"></use>
    </svg>
  </a>
</li>
  <li>
  <a>
    <svg>
      <use href="images/icon/sprite-social.svg#icon-pinterest"></use>
    </svg>
  </a>
</li>
<li>

</li>
</ul>
</div>
<div class="col-12 ">
<p class="footer-p  border">© We-Art. Все права защищены. </p>
</div>
<div class="col-12">
<div class="footer-img">
  <a>
    <svg>
      <use href="images/icon/futer.svg#icon-Group-5-1"></use>
    </svg>
   </a>
</div>
</div>

  </div>

</div>
</footer>






























